@import 'src/styles/variables';
@import 'src/styles/responsive';

.item {
    padding: 1.8rem;
    display: flex;
    align-items: center;
    min-width: max-content;
    box-shadow: 3px 1px 5px $black-color;

    &:nth-last-child(1) {
        box-shadow: unset;
    }

    img {
        height: 10rem;
    }

    h4 {
        font-size: $sizeExtraSmall;
        font-weight: normal;
    }
}

.imgBox {
    text-align: center;

    h5 {
        font-size: $sizeMini;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.temp {
    h5 {
        font-size: $sizeXXS;
    }

    p {
        font-size: $sizeExtraSmall;
        font-weight: bold;

        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.inlineData {
    h6 {
        font-size: $sizeExtraSmall;
        font-weight: normal;
    }
}
