$font-size: 62.5%;

// COLORS
$font-color: #ffffff;
$black-color: #000000;
$gray-color: #1d1d1d;
$background-color: #333;

// FONT-SIZES
$sizeMini: 1.2rem;
$sizeExtraSmall: 1.6rem;
$sizeXXS: 2rem;
$sizeXS: 2.4rem;
$sizeS: 2.6rem;
$sizeXM: 3rem;
$sizeM: 3.8rem;
$sizeL: 4.6rem;
$sizeXL: 6.2rem;
$sizeXXL: 7.2rem;

// FONT-FAMILY

$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$special-font: 'Bebas Neue', cursive;;
