@import '@styles/variables.modules';
@import '@styles/responsive.modules';

.title {
    margin-top: 2rem;
    position: relative;
    overflow-x: hidden;
    height: 10rem;

    @include media-mobile {
        margin-top: 4rem 0;
        height: 15rem;
    }

    h1,
    p {
        text-transform: uppercase;
        font-family: $special-font;
    }
    h1 {
        margin: 1rem;
        text-align: center;
        letter-spacing: 0.5rem;
        font-size: $sizeXL;

        &::first-letter {
            letter-spacing: 1.4rem;
        }

        @include media-mobile {
            font-size: $sizeExtraLarge;
        }
    }

    p {
        width: 100%;
        position: absolute;
        top: 86%;
        left: 50%;
        font-size: $sizeMini;
        letter-spacing: 0.3rem;

        @include media-mobile {
            top: 66%;
            font-size: $sizeXXS;
        }
    }
}
