@import '@styles/variables';
@import '@styles/responsive';
@import '@styles/animations';

.search {
    position: relative;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;

    form {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }

    input {
        padding: 0.4rem 0.6rem;
        width: 20rem;
        font-size: $sizeXXS;
        border-width: 1px 0px 1px 1px;
        border-radius: 5px 0px 0px 5px;
        outline: none;

        &::placeholder {
            font-size: $sizeExtraSmall;
            @include media-mobile {
                font-size: $sizeXXS;
            }
        }

        @include media-mobile {
            width: 25rem;
            font-size: $sizeXS;
        }
    }

    button {
        padding: 0 0.6rem;
        font-size: $sizeXS;
        font-family: $special-font;
        color: $font-color;
        text-transform: uppercase;
        border-width: 1px 1px 1px 1px;
        border-radius: 0px 5px 5px 0px;
        background-color: $gray-color;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $font-color;
            font-size: $sizeXS;
            color: $black-color;
        }
    }

    a {
        padding: 5px 10px;
        margin-top: 0.3rem;
        align-self: flex-end;
        font-size: $sizeExtraSmall;
        font-family: $special-font;
        color: $font-color;
        text-decoration: none;

        @include media-mobile {
            font-size: $sizeXXS;
        }
    }

    .arrowDown {
        padding: 0 16px;
        position: absolute;
        left: 50%;
        bottom: -28px;
        transform: translateX(-50%);
        animation: bounceArrowDown 2s ease-in infinite;

        @include media-mobile {
            bottom: -30px;
        }
    }
}
