@import '@styles/variables';
@import '@styles/responsive';

.weatherForecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(1rem + 100%);

    @include media-mobile {
        width: 100%;
    }
}