@import 'styles/variables';
@import 'styles/responsive';

.container {
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1355px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin: 1rem;
    text-align: center;
    font-family: $special-header;
    font-size: $sizeXM;

    @include media-mobile {
        font-size: $sizeL;
    }
}
