@import 'styles/variables';

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1355px;
}

.center {
    display: flex;
    justify-content: center;
}

.container h1 {
    text-align: center;
    font-family: $special-header;
    font-size: $extraXS;
}
