@import '@styles/variables';
@import '@styles/responsive';

.container {
    padding: 0 5px;
    margin: 0 auto 10rem auto;
    position: relative;
    width: 100%;
    max-width: 1350px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    font-size: $sizeS;
    font-family: $special-font;
    text-transform: uppercase;
    color: tomato;

    @include media-mobile {
        font-size: $sizeM;
    }
}

