@import 'styles/variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    color: $font-color;
    font-family: $main-font;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: rgb(54, 56, 56);
    background: linear-gradient(
        90deg,
        rgba(54, 56, 56, 1) 10%,
        rgba(0, 0, 0, 1) 20%,
        rgba(26, 27, 27, 1) 50%,
        rgba(0, 0, 0, 1) 80%,
        rgba(54, 56, 56, 1) 90%
    );
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    cursor: pointer;
}
