@import '@styles/variables';
@import '@styles/responsive';

.weatherList {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: $gray-color;
    box-shadow: 2px 3px 8px $black-color;
    overflow-x: scroll;

    @include media-mobile {
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        height: 8px;
        background-color: #474747;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: $font-color;
        border-radius: 10px;
    }
}

.day {
    margin: 2.4rem 0 0 0;
    font-size: $sizeXM;
    font-family: $special-font;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    &:nth-child(1) {
        margin: unset;
    }
}
